@charset "utf-8";

/* root변수 설정 */
:root{
  --m_bg_color:#fff;
  --m_font:'Noto Sans KR';
  --f_size_base:12px;
  --f_size1:14px;
  --f_size2:16px;
  --f_color1:#333;
  --f_color01:#215499;
  --f_color02:#042653;
  --f_color03:#2986A7;
  --f_color04:#ccc;
  --f_color05:#ededed;
}

/* sub.css */
header{position: static;}
header i.fas{color: var(--f_color1);}
.gnb > ul > li > a{
  color:#333;
}

/* 서브화면 배경서식 */
.sub_top{
  background: url(../images/bg-main-test-driving.jpg) 100%; height: 400px;
  color: var(--m_bg_color); text-align: center;
}
.sub_top nav{text-align: left; line-height: 158px; padding-left: 200px; font-size: var(--f_size2);}
.sub_top > h2{font-size: 40px; padding: 20px 0px;}
.sub_top > p{font-size: 20px;}

/* 폼태그 서식 */
.online_reserve > h2{display: none;}
fieldset{
  width: 480px;
  margin: 50px auto;
}
fieldset > legend{
  font-size:30px;
  text-align: center;
  padding-bottom: 30px;
}
.field{padding: 10px 0px;}
.field input{width: 200px; height: 20px;}
.con{display: none;}





.car_reverse{
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 1000px;
  margin: 0 auto 30px auto;
}
.car_reverse th{background: #111; color: #fff;}
.car_reverse td, .car_reverse th{
  border: 1px solid #ccc;
  line-height: 34px;
  text-align: center;
}